{% extends "base.html" %}

{% block title %}
Flask Template - Login
{% endblock %}


{% block content %}

<div class="container d-flex flex-column flex-grow-1 align-items-center">
    <div class="m-auto col-12 col-md-9 col-lg-8 col-xl-6">
        <div class="my-3">
            {% include "fragments/flash/banner.html" %}
        </div>
        <div class="card p-3">
            <h3 class="m-0">Login</h3>
            <hr class="my-3">
            {% include "fragments/form/error.html" %}
            <form method="POST" class="row gx-0 gy-3">
                {{ form.hidden_tag() }}
                <div class="">
                    {{ form.email(class_="form-control", placeholder="Email") }}
                </div>
                <div class="">
                    {{ form.password(class_="form-control", placeholder="Passwort") }}
                </div>
                <div class="form-check">
                    {{ form.remember_me(class_="form-check-input") }}
                    {{ form.remember_me.label(class="form-check-label") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class_="btn btn-outline-primary") }}
                </div>
                <div class="form-group">
                    <a href="{{ url_for('account.forgot_password') }}">Passwort vergessen?</a><br>
                    <a href="{{ url_for('account.register') }}">Noch keinen Account? Hier registrieren!</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% include('fragments/footer/outside_basic.html') %}
{% endblock %}