{% extends "base.html" %}


{% block header %}
    {# 
        {% with current_page = "Home" %}
            {% include "header/plain.html" %}
        {% endwith %}
    #}
{% endblock %}


{% block content %}

<div class="mb-3">
    {% include "fragments/flash/banner.html" %}
</div>

<h3 class="text-center">Routes</h3>

<ul>
    {% for link in links %}
    <li>
        <a href="{{ link[0] }}">{{ link[1] }}</a>
    </li>
    {% endfor %}
</ul>

<hr>

<h5>Raw:</h5>

<ul>
    {{ links }}
</ul>

{% endblock %}